.menu{
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: #97ec8b;
    border-bottom: 1px solid gray;

    
    .menu-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;

        .left-buttons{

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a{
                margin-left: 55%;
                border-bottom: 5px solid #97ec8b;
                transition: 500ms all;
                padding: 0 5px;
            }

            a:hover{
                border-bottom: 5px solid white;
                background-color: #65be59;
            }


            .menu-button-1{
                width: 100%;
                height: 100%;
                background-image:url(../home.ico) no-repeat left center; 
            }

            .menu-button-2{
                width: 100%;
                height: 100%;
                background-image:url(../search.ico) no-repeat left center; 
            }

            
        }

        .right-buttons{

            
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .menu-button-3{
                margin-right: 80%;
                border-bottom: 5px solid #97ec8b;
                transition: 500ms all;
                width: 100%;
                height: 100%;
                background-image:url(../exit.ico) no-repeat left center; 
            }

            a:hover{
                background-color: #65be59;
                border-bottom: 5px solid white;
            }
        }
    }
}

@media (min-width: 900px){
    .container{
        margin-left: 250px;
        margin-right: 250px;
    }
}
.container{

    margin-top: 75px;

    .add-form-container{
        
        // border-radius: 3px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        margin: 20px;
        border: 1px solid gray;

        div{
            display: flex;
            flex-direction: column;
            flex: 4;

            @media(min-width: 1000px){
                padding-right: 10px;
            }
        }

        .new-post-container{

            display: flex;
            flex-direction: row;

            .form-button{
                font-size: 30px;
                margin: 0 0 0 1%;
                transition: 500ms all;
    
                @media(min-width: 1000px){
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            .form-button:hover{
                background-color: white;
                background-color: #97ec8b;
                border-radius: 4px;
            }
            .form-button::before{
                content: "\2714";
                font-size: 25px;
                color: #363636;
            }
    
            .input-text{
    
                display: flex;
                flex-direction: row;
    
                div{
                    flex:1;
                    font-family: sans-serif;
    
                    @media(min-width: 1000px){
                        font-size: 20px;
                    }
                }
    
                textarea{
                    flex: 10;

                    resize: vertical;
    
                    @media(min-width: 1000px){
                        padding: 10px;
                    }
                }
            }
        }

        .preview-box{

            margin: 10px;
            align-items: end;
            display: flex;

            .preview-img{
                width: 15%;
                height: 15%;
                border-radius: 5px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .preview-img-delete{
                top: 0;
                right: 0;
                padding-right: 5px;
                padding-left: 5px;
                transition: 500ms all;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                color: rgb(110, 31, 31);
            }
            .preview-img-delete::before{
                content: "\2716";
            }
            .preview-img-delete:hover{
                background-color: #97ec8b;
            }
        }

        

    }

    .posts{
        display: flex;
        flex-direction: column-reverse;

        .post-container{
            
            display: flex;
            flex-direction: column;
            text-decoration: none;
            background-color: white;
            padding: 10px;
            margin: 20px;
            border: 1px solid gray;
            // border-radius: 3px;

            .panel{
                display: flex;
                padding-bottom: 15px;
                margin: 5px 10px 10px 10px;
                flex-direction: row;
                justify-content: space-between;
                font-family: sans-serif;
                border-bottom: 1px solid gray;
                

                div{

                    .delete{
                        padding: 3px;
                        transition: 500ms all;
                        border-radius: 3px;
                        color: rgb(110, 31, 31);
                    }
        
                    .delete::before{
                        content: "\2716";
                    }
                    .delete:hover{
                        background-color: #97ec8b;
                    }
                    
                    .edit{
                        margin: 2px;
                        padding: 3px;
                        transition: 500ms all;
                        border-radius: 3px;
                        color: rgb(63, 62, 62);
                        transform: rotate(90deg);
                    }
                    .edit::before{
                        content: "\2712";
                    }
                    .edit:hover{
                        background-color: #97ec8b;
                    }    
                }
                
            }

            .content{

                display: flex;
                justify-content: space-between;
                flex-direction: row;
                text-decoration: none;
                margin: 0 15px 5px 15px;
                transition: 500ms all;
                padding-bottom: 30px;
                border-bottom: 1px solid gray;

                .text{
                    flex: 2;
                    padding: 5px;
                    color: black;
                    font-family: sans-serif;

                    div{
                        color: blue;
                    }

                }

                img{
                    width: 40%;
                    height: 40%;
                    border: 1px solid gray;
                    border-radius: 3px;
                }
            }

            .comments-box{

                padding: 5px;
                margin: 10px;
                margin-top: 0;

                .comments-container{

                    .comment{

                        .comment-panel{ 
                            display: flex;
                            margin: 5px 35px 0px 35px;
                            flex-direction: row;
                            justify-content: space-between;
                            font-family: sans-serif;
                            border-bottom: 1px solid gray;
                            padding-top: 15px;
                        }

                        .comment-content{
                            background-color: white;
                            padding: 10px;
                            margin-left: 50px;
                            margin-right: 50px
                        }
                    }

                    .delete-button{
                        padding-right: 5px;
                        padding-left: 5px;
                        transition: 500ms all;
                        border-radius: 3px;
                        color: rgb(110, 31, 31);
                    }
            
                    .delete-button::before{
                        content: "\2716";
                    }
                    .delete-button:hover{
                        background-color: #97ec8b;
                    }
                }

                .input-comment{

                    padding: 5px;
                    margin: 5px 0 5px 30px ;
                    display: flex;
                    justify-content: space-between;

                    textarea{ 
                        resize: none;
                        flex: 10;
                    }

                    button{
                        flex: 0;
                        font-size: 25px;
                        background-color: #97ec8b;
                        border: 1px solid gray;
                        margin-left: 5px;
                        border-radius: 3px;
                        transition: 500ms all;
                    }

                    button::after{
                        content: "\271A";
                    }

                    button:hover{
                        background-color: white;
                    }

                }
            }
        }
    }

    .selected{
        .text{
            background-color: #ade2a4;
        }
    }
}