
<div class="menu">
  <div class="menu-container">
    <a routerLink="/user/{{id}}" class="menu-button-1" value='text'>My page</a>
    <a routerLink="/search" class="menu-button-2">Search</a>
    <a (click)="logout()" routerLink="/" class="menu-button-3">Logout</a>
  </div>
</div>

<div class="container">
  <form #addForm="ngForm" class="add-form-container">
    <div class="new-post-container">
      <div class="input-text">
          <textarea 
            placeholder="You want to say something?" 
            wrap="soft" 
            type="text" 
            [(ngModel)]="newPost.text" 
            name="postText" 
            class="input-text" 
            (ngModelChange)="onImgCheck()"
            rows="4">
          </textarea>
      </div>

    <a (click)="addPost(newPost)" class="form-button" ></a>
      
    </div>

    <!-- <div class="add-panel">
      <input type="file" #fileInput placeholder="Upload file..." />
      <button type="button" (click)="upload()">Upload</button>
    </div> -->

    <a class='preview-box' *ngIf="img">
      <img  src={{img}} (error)="onImgError()" (load)="onImgLoad()" class="preview-img">
      <a class="preview-img-delete" (click)="onImgDelete()"></a>
    </a>

  </form>

  <a *ngFor="let post of posts" class="post-container"> 
    <div class = "panel">
      <a>{{post.author}}</a>
      <a class="delete" (click)="deletePost(post)" *ngIf="root(post)"></a>
      <a class="edit" (click)="editPost(post)" *ngIf="root(post)"></a>
      <div>{{post.createdData | date}}</div>
    </div>
    <a class="content" routerLink="/post/{{post._id}}" [ngClass]="{selected: onSelect(post)}">
      <div class="text">
        {{post.text | slice:0:350}}
        <div *ngIf="post.text.length > 300">
          Open this post for read next.
        </div>
      </div >

      <img *ngIf="post.img" src={{post.img}}>
    </a>

    <div class=comments-box>
      <div class="comments-container" *ngIf="post.comments.length > 0">
          <a class="comments" *ngFor="let comment of post.comments; let i = index">
            <div class="panel"> 
              {{comment.author}}
              <a class="delete-button" (click)="deleteComment(post, i)" *ngIf="root(comment)"></a>
            </div>
            <div class="content">
              {{comment.text}}
            </div>
            
          </a>
        </div>
    
        <div class="input-comment">
          <textarea 
            class="input"  
            [(ngModel)]="post.newComment"
            type="text" 
            placeholder="you can write a comment!"
            cols="83"
            >
          </textarea>
          <button class="add-button" (click)="addComment(post)"></button>
        </div>
    </div>
  </a>
</div>