<div class="container">
  <div class="user-data-container">
      <div class="name">
        <div *ngIf="!edit; then name else inputName" ></div>
        <ng-template #name>
          {{user.name}}
          {{user.surname}}
        </ng-template>
        <ng-template #inputName>
          <input type="text" [(ngModel)]="user.name" name="email">
          <input type="text" [(ngModel)]="user.surname" name="email">
        </ng-template>
          <a class="edit" (click)="editUser()" *ngIf="rootForAddPost()"></a>
      </div>

      <div class="user-data">
        <img src="{{user.img}}" class="image">

        <div>
          <div *ngIf="!edit; then read else editBlock" ></div>

          <ng-template #read>
            <div>Email: {{user.email}}</div>
            <div>Gender: {{gender}}</div>
            <div>Root: {{user.rights}}</div>
          </ng-template>

          <ng-template #editBlock>
            <div>Email:</div>
            <input type="text" [(ngModel)]="user.email" name="email">
            <div>Password:</div>
            <input type="text" [(ngModel)]="user.password" name="password">
            <div>Image:</div>
            <input type="text" [(ngModel)]="user.img" name="img">
            <button (click)="saveEdit()"></button>
          </ng-template>

        </div>
      </div>
  </div>

  <div class="posts-container">

    <form #addForm="ngForm" class="add-form-container"  *ngIf="rootForAddPost()">
    <div>
      <div class="input-text">
          <div>Text:</div>
          <input type="text" [(ngModel)]="newPost.text" name="postText" class="input-text">
      </div>
      <div class="input-img">
        <div>Img:</div>  
        <input type="text" 
              class="text-box" 
              [(ngModel)]="newPost.img" 
              name="postImg" 
              required 
              class="input-image">
      </div>
    </div>

      <a (click)="addPost(newPost)" class="form-button" ></a>
    </form>

    <a *ngFor="let post of posts" class="post-container"> 
      <div class = "panel">
        <a>{{post.author}}</a>
        <a class="delete" (click)="deletePost(post)" *ngIf="root(post)"></a>
        <div>{{post.createdData | date}}</div>
      </div>
      <a class="content" routerLink="/post/{{post._id}}">
        <div class="text">
          {{post.text | slice:0:350}}
          <div *ngIf="post.text.length > 300">
            Open this post for read next.
          </div>
        </div >

        <img *ngIf="post.img" src={{post.img}}>
      </a>
    </a>
  </div>

  <a routerLink="/app" class="back-button">
    Back
  </a>

</div>